<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
</head>
<body>

<h2>Table With Equipment Production</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Count</th> 
  </tr>
  <tr>
    <td>VGA</td>
    <td>5</td>
    
  </tr>
  <tr>
    <td>AC</td>
    <td>5</td>
    
  </tr>
  <tr>
    <td>MICRO hdmi</td>
    <td>4</td>
    
  </tr>
  <tr>
    <td>HDMI</td>
    <td>5</td>
    
  </tr>
</table>

</body>
</html>