<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
            font-size: 16px;
            background-image: url("images/r.png");
            background-size: cover;
        }
        
            
        

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin-top: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .navbar {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .navbar a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .navbar a:hover {
            color: #555;
        }

        form {
            display: inline-block;
        }

        input[type="submit"] {
            padding: 6px 12px;
            background-color: #4caf50;
            border: none;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/profile">Profile</a>
        <a href="/Log-out">Logout</a>
    </div>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Problem</th>
            
        </tr>
        <% reports.forEach(function(report) { %>
                <td><%= report.product_id %></td>
                <td><%= report.product_name %></td>
                <td><%= report.problem %></td>
            </tr>
            
        <% }); %>
    </table>
</body>
</html>
